
body {
background-color: black;
}

a {
    color: white;
    text-decoration: none;
    text-align: end;
}

body {
    font-family: sans-serif;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
}

h1 {
    color: white;
    font-size: large;
    font-size: 50px;
}

#menu {
font-size: large;
font-size: 20px;
padding: 2rem;
}

#sobrenosotros {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* border: solid;
    border-color: black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        position: absolute;
        top: 50%;
        left: 18%;
        transform: translate(-50%, -50%);
        bottom: 50%;
        width: 40%;
        height: 90%;
    }
}

.texto {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
   /*  border: solid;
    border-color: black; */
    left: 40%;
    h1 {
        color: white;
        top: 0px;
        text-align: center;
        font-size: 50px;
        text-decoration: underline #ea3a60;

    }
    p {
        color: white;
        text-align: center;
        font-size: 20px;
    } 

}

#contacto {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    width: 10%; 
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

p { 
    color: white;
}

#servicio {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}
